<div class="ps-page--default ps-page--blog">
    <div class="ps-blog ps-blog--list">
      <div class="container">
        <div class="ps-blog__header">
          <figure>
            <figcaption>ALWAYS DO YOUR BEST</figcaption>
            <h3>What you plant now, you will harvest later</h3>
          </figure>
          <ul class="ps-blog__categories">
            <li class="active"><a href="#">All Categories</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">DIY</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Beauty</a></li>
            <li><a href="#">Lifestyle</a></li>
          </ul>
        </div>
        <div class="ps-blog__content">
          <div class="ps-post ps-post--list">
            <div class="ps-post__thumbnail"><img src="/page/img/blog/blog-list/1.jpg" alt=""><a class="ps-post__overlay" href="/bai-viet"></a></div>
            <div class="ps-post__content"><a class="ps-post__title" href="/bai-viet">Five things you only know if you were at Chanel’s Hamburg Show</a>
              <p class="ps-post__meta"><a href="blog-grid.html">DIY</a> June 10, 2019</p>
              <p>Awards season is in full swing and it would seem that Hollywood’s most stylish are winning in black and white.</p><a class="ps-link--under" href="/bai-viet">Read more</a>
            </div>
          </div>
          <div class="ps-post ps-post--list">
            <div class="ps-post__thumbnail"><img src="/page/img/blog/blog-list/2.jpg" alt=""><a class="ps-post__overlay" href="/bai-viet"></a></div>
            <div class="ps-post__content"><a class="ps-post__title" href="/bai-viet">Kering Reinforces Luxury Status By Distributing Puma Shares</a>
              <p class="ps-post__meta"><a href="blog-grid.html">DIY</a> June 10, 2019</p>
              <p>Awards season is in full swing and it would seem that Hollywood’s most stylish are winning in black and white.</p><a class="ps-link--under" href="/bai-viet">Read more</a>
            </div>
          </div>
          <div class="ps-post ps-post--list">
            <div class="ps-post__thumbnail"><img src="/page/img/blog/blog-list/3.jpg" alt=""><a class="ps-post__overlay" href="/bai-viet"></a></div>
            <div class="ps-post__content"><a class="ps-post__title" href="/bai-viet">These Glittery Sneakers will make you want to ditch your holiday heels</a>
              <p class="ps-post__meta"><a href="blog-grid.html">DIY</a> June 10, 2019</p>
              <p>Awards season is in full swing and it would seem that Hollywood’s most stylish are winning in black and white.</p><a class="ps-link--under" href="/bai-viet">Read more</a>
            </div>
          </div>
          <div class="ps-post ps-post--list">
            <div class="ps-post__thumbnail"><img src="/page/img/blog/blog-list/4.jpg" alt=""><a class="ps-post__overlay" href="/bai-viet"></a></div>
            <div class="ps-post__content"><a class="ps-post__title" href="/bai-viet">10 best dressed of January 2018</a>
              <p class="ps-post__meta"><a href="blog-grid.html">DIY</a> June 10, 2019</p>
              <p>Awards season is in full swing and it would seem that Hollywood’s most stylish are winning in black and white.</p><a class="ps-link--under" href="/bai-viet">Read more</a>
            </div>
          </div>
          <div class="ps-post ps-post--list">
            <div class="ps-post__thumbnail"><img src="/page/img/blog/blog-list/5.jpg" alt=""><a class="ps-post__overlay" href="/bai-viet"></a></div>
            <div class="ps-post__content"><a class="ps-post__title" href="/bai-viet">Fashion’s 10 top-earning models</a>
              <p class="ps-post__meta"><a href="blog-grid.html">DIY</a> June 10, 2019</p>
              <p>Awards season is in full swing and it would seem that Hollywood’s most stylish are winning in black and white.</p><a class="ps-link--under" href="/bai-viet">Read more</a>
            </div>
          </div>
        </div>
        <div class="ps-blog__footer">
          <ul class="ps-pagination">
            <li class="active"><a href="#"><span>01</span></a></li>
            <li><a href="#"><span>02</span></a></li>
            <li class="ps-pagination__next"><a href="#"><i class="icon-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ps-home-subscribe">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12 ">
            <figure>
              <figcaption>Keep Connected</figcaption>
              <p>Get updates by subscribe our weekly newsletter</p>
            </figure>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12 ">
            <form class="ps-form--keep-connected" action="https://nouthemes.net/html/supro/index.html" method="get"><i class="icon-envelope"></i>
              <input class="form-control" type="text" placeholder="Email Address">
              <button>Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ps-footer--2 ps-footer--instagram">
    <div class="container">
      <div class="ps-footer__content">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 ">
            <aside class="widget widget_footer widget_align-right">
              <h3 class="widget-title">Help & Information</h3>
              <ul class="ps-list--line">
                <li><a href="#">Track Order</a></li>
                <li><a href="#">Delivery & Returns</a></li>
                <li><a href="#">Premier Delivery</a></li>
                <li><a href="#">FAQs</a></li>
              </ul>
            </aside>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 ">
            <aside class="widget widget_footer widget_align-right">
              <h3 class="widget-title">About Supro</h3>
              <ul class="ps-list--line">
                <li><a href="#">About us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Coporate</a></li>
                <li><a href="#">Investors</a></li>
              </ul>
            </aside>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 ">
            <aside class="widget widget_footer widget_align-right">
              <h3 class="widget-title">Online Shop</h3>
              <ul class="ps-list--line">
                <li><a href="#">Shoes</a></li>
                <li><a href="#">Bags</a></li>
                <li><a href="#">Wallets</a></li>
                <li><a href="#">Belts</a></li>
              </ul>
            </aside>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 ">
            <aside class="widget widget_footer widget_align-right">
              <h3 class="widget-title">Language</h3>
              <select class="ps-select">
                <option value="1">English</option>
                <option value="2">Italian</option>
                <option value="3">Germany</option>
                <option value="4">French</option>
              </select>
            </aside>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 ">
            <aside class="widget widget_footer widget_align-right">
              <h3 class="widget-title">Currency</h3>
              <select class="ps-select">
                <option value="1">USD</option>
                <option value="2">GBP</option>
              </select>
            </aside>
          </div>
        </div>
      </div>
    </div>