<div class="ps-page--default ps-page--blog">
    <div class="ps-blog">
      <div class="container">
        <div class="ps-post--detail">
          <div class="ps-post__header"><small>DIY</small>
            <h2>Five things you only know if you were at Chanel’s Hamburg Show</h2>
            <div class="ps-post__meta"><span>Author:<a href="#"> Supro</a></span><span>Published in:<a href="#"> June 10, 2019</a></span></div>
          </div>
          <div class="ps-post__content ps-document">
            <div class="ps-post__text">
              <h4 class="text-center">KERING is distributing 70 percent of its stake in Puma to shareholders in order to focus on its luxury portfolio of brands.</h4>
            </div>
            <div class="mb-100"><img src=/page/img/blog/detail-1.jpg" alt=""></div>
            <div class="ps-post__text">
              <p><span class="cap">K</span>ering’s ambition is to continue to grow and develop its powerful ensemble of houses in couture, leather goods, jewellery and watches, leveraging on its high cash-flow generation and strong financial position, the French luxury goods group, which has Gucci, Saint Laurent, Alexander McQueen, Balenciaga, Christopher Kane and Stella McCartney in its stable, told WWD.</p>
              <p>The shift will see Kering reduce its stake to 16 percent from 86 percent, with Kering shareholder Artemis winding up with a 29 percent stake in the sports brand, and about 55 percent of Puma’s stock free-floating on the stock market.</p>
              <blockquote class="ps-blockquote">
                <p>When you love fashion, there is no weekend. Everything just blends together.</p>
              </blockquote>
              <p>Jean-Marc Duplaix, Kering’s chief financial officer, said that the group chose not to sell Puma outright in order to avoid a lengthy sale process that would destabilise the brand, which has seen revenue growth owing in part to its high-profile collaboration with Rihanna.</p>
            </div>
            <div class="ps-post__text mb-0">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                  <div class="mb-100"><img src=/page/img/blog/detail-2.jpg" alt=""></div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                  <div class="mb-100"><img src=/page/img/blog/detail-3.jpg" alt=""></div>
                </div>
              </div>
              <h4>Learn how to motivate yourself</h4>
              <p>François-Henri Pinault, chief executive officer and chairman, added that the distribution is a “significant milestone” in the company’s history: “Kering dedicating itself entirely to the development of its luxury houses, whose enduring appeal, built on creative audacity and innovativeness, will allow us to continue to gain market share and create value,” he said.</p>
              <h4>Enhance your life by having a sense of purpose</h4>
              <p class="mb-0">We are proud to have supported the turnaround of Puma, which now has unrivalled capabilities to take full advantage of the specific dynamics of its global markets and is poised to achieve substantial growth.</p>
            </div>
          </div>
          <div class="ps-post__footer ps-post__text pt-60">
            <p class="ps-post__tags">Tags:<a href="#">Beauty</a><a href="#">Motivation</a><a href="#">Women</a></p>
            <p class="ps-post__sharing">Share on:<a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></p>
          </div>
          <div class="ps-post__author ps-post__text">
            <div class="ps-post__author-img"><img src=/page/img/users/1.jpg" alt=""></div>
            <figure>
              <figcaption>Supro</figcaption>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            </figure>
          </div>
        </div>
        <div class="ps-blog__related-post">
          <h3>You may also like</h3>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
              <div class="ps-post">
                <div class="ps-post__thumbnail"><img src=/page/img/blog/blog-grid/1.jpg" alt=""><a class="ps-post__overlay" href="/bai-viet"></a></div>
                <div class="ps-post__content"><a class="ps-post__title" href="/bai-viet">Five things you only know if you were at Chanel’s Hamburg Show</a>
                  <p class="ps-post__meta"><a href="blog-grid.html">DIY</a> June 10, 2019</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
              <div class="ps-post">
                <div class="ps-post__thumbnail"><img src=/page/img/blog/blog-grid/2.jpg" alt=""><a class="ps-post__overlay" href="/bai-viet"></a></div>
                <div class="ps-post__content"><a class="ps-post__title" href="/bai-viet">Kering Reinforces Luxury Status By Distributing Puma Shares</a>
                  <p class="ps-post__meta"><a href="blog-grid.html">Beauty</a> June 10, 2019</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
              <div class="ps-post">
                <div class="ps-post__thumbnail"><img src=/page/img/blog/blog-grid/3.jpg" alt=""><a class="ps-post__overlay" href="/bai-viet"></a></div>
                <div class="ps-post__content"><a class="ps-post__title" href="/bai-viet">These Glittery Sneakers will make you want to ditch your holiday heels</a>
                  <p class="ps-post__meta"><a href="blog-grid.html">Fashion</a> June 10, 2019</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form class="ps-form--post-comment" action="https://nouthemes.net/html/supro/index.html" method="get">
          <h3>Leave a Reply</h3>
          <p>Connect with</p>
          <ul class="ps-list--social">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
          <p>Your email address will not be published.</p>
          <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Your messages"></textarea>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Name">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Website">
          </div>
          <div class="form-group">
            <button class="ps-btn ps-btn--black">Post comment</button>
          </div>
        </form>
      </div>
    </div>
    <div class="ps-home-subscribe">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12 ">
            <figure>
              <figcaption>Keep Connected</figcaption>
              <p>Get updates by subscribe our weekly newsletter</p>
            </figure>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12 ">
            <form class="ps-form--keep-connected" action="https://nouthemes.net/html/supro/index.html" method="get"><i class="icon-envelope"></i>
              <input class="form-control" type="text" placeholder="Email Address">
              <button>Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>