<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from nouthemes.net/html/supro/homepage-left-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Apr 2021 12:26:27 GMT -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>Supro Minimal List</title>
  <link
    href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300i,400,400i,500,500i,600,600i,700&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/page/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/page/plugins/bootstrap4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/page/plugins/owl-carousel/assets/owl.carousel.css">
  <link rel="stylesheet" href="/page/plugins/slick/slick/slick.css">
  <link rel="stylesheet" href="/page/plugins/lightGallery-master/dist/css/lightgallery.min.css">
  <link rel="stylesheet" href="/page/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
  <link rel="stylesheet" href="/page/plugins/jquery-ui/jquery-ui.min.css">
  <link rel="stylesheet" href="/page/plugins/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="/page/fonts/Linearicons/Linearicons/Font/demo-files/demo.css">
  <link rel="stylesheet" href="/page/css/style.css">
  <link rel="stylesheet" type="text/css" href="/page/plugins/home-full-slider/css/rs6.css">
  <link rel="stylesheet" href="/page/css/home-sidebar.css">
</head>

<body>
  <header class="header header--mobile" data-sticky="true">
    <div class="header__left"><a class="ps-logo" href="/"><img src="/page/img/logo.png" alt=""></a></div>
    <div class="header__right">
      <div class="header__container"><a class="header__search-mini" href="#"><i class="icon-magnifier"></i></a></div>
      <div class="header__actions"><a class="header__user" href="#"><i class="icon-user"></i></a><a
          class="header__favorite" href="whishlist.html"><i class="icon-heart"></i></a><a
          class="header__cart ps-toggle--sidebar" href="#cart"><i class="icon-cart"></i><span>2</span></a><a
          class="header__menu-toggle ps-toggle--sidebar" href="#navigation-mobile"><i class="icon-menu"></i></a></div>
    </div>
  </header>
  <div id="homepage-sidebar">
    <div class="ps-page__sidebar">
      <aside class="header--sidebar">
        <div class="header__top"><a class="ps-logo" href="#"><img src="/page/img/logo.png" alt=""></a>
          <form class="ps-form--header-search" action="/cua-hang/tim-kiem" method="get">
            <input class="form-control" type="text" name="q" placeholder="Tìm kiếm sản phẩm...">
            <button><i class="icon-magnifier"></i></button>
          </form>
        </div>
        <div class="header__content">
          <ul class="menu--desktop">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/cua-hang">Cửa hàng</a></li>
            <li><a href="/tin-tuc">Tin tức</a></li>
            <li><a href="/lien-he">Liên hệ</a></li>
            <li><a href="/gioi-thieu">Giới thiệu</a></li>
          </ul>
        </div>
        <div class="header__bottom">
          <div class="header__actions"><a href="#">Tài khoản</a>
            <a class="header__cart" href="/gio-hang">Giỏ hàng<span class="cart-count-item">0</span></a>
          </div>
          <ul class="ps-list--social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
          <div class="header__copyright">
            <p>&copy; 2021 <strong>Supro</strong>. All rights reserved.</p>
          </div>
        </div>
      </aside>
    </div>
    <div class="ps-page__wrapper">
      <rs-module-wrap id="rev_slider_7_1_wrapper" data-alias="home-left-sidebar" data-source="gallery"
        style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
        <rs-module id="rev_slider_7_1" style="display:none;" data-version="6.1.0">
          <rs-slides>
            <rs-slide data-key="rs-20" data-title="New Arrival"
              data-thumb="plugins/home-left-sidebar/assets/s6a-100x50.jpg" data-duration="7000"
              data-anim="ei:d;eo:d;s:300,500;r:,0;t:3dcurtain-vertical;sl:d,d;" data-p1="Next SS Preview"> <img alt=""
                src="/page/plugins/home-left-sidebar/assets/s6a.jpg" data-bg="p:55% 50%;" class="rev-slidebg"
                data-no-retina>
              <rs-layer id="slider-7-slide-20-layer-1" data-type="text" data-color="#f68872" data-rsp_ch="on"
                data-xy="xo:200px,50px,50px,50px;yo:288px,238px,238px,188px;" data-text="s:14;l:14;ls:1px;a:inherit;"
                data-frame_0="x:-50px;tp:600;" data-frame_1="tp:600;e:Power4.easeInOut;st:200;sp:500;sR:200;"
                data-frame_999="x:-50px;o:0;tp:600;st:w;sp:500;sR:6300;" style="z-index:5;">NEXT ARRIVAL </rs-layer>
              <rs-layer id="slider-7-slide-20-layer-2" data-type="text" data-color="#222222" data-rsp_ch="on"
                data-xy="xo:195px,45px,45px,45px;yo:315px,265px,265px,215px;"
                data-text="s:60;l:72,72,72,60;fw:700;a:inherit;" data-frame_0="x:-50px;tp:600;"
                data-frame_1="tp:600;st:400;sp:500;sR:400;" data-frame_999="x:-50px;o:0;tp:600;st:w;sp:500;sR:6100;"
                style="z-index:6;">Light Nylon <br> Outerwear </rs-layer> <a id="slider-7-slide-20-layer-3"
                class="rs-layer rev-btn" href="http://demo3.drfuri.com/supro/shop/" target="_self" data-type="button"
                data-color="#222222" data-xy="xo:200px,50px,50px,50px;yo:636px,583px,583px,533px;"
                data-text="s:12;l:12;ls:1px;fw:700;a:inherit;" data-rsp_bd="off" data-padding="b:5;"
                data-border="bos:solid;boc:#222222;bow:0px,0,2px,0;" data-frame_0="x:-50px;tp:600;"
                data-frame_1="tp:600;st:800;sp:500;sR:800;" data-frame_999="x:-50px;o:0;tp:600;st:w;sp:500;sR:5700;"
                data-frame_hover="c:#000;bgc:rgba(255,255,255,0);boc:#222;bor:0px,0px,0px,0px;bos:solid;bow:0,0,2px,0;oX:50;oY:50;sp:0;"
                style="z-index:7;background-color:rgba(0,0,0,0);cursor:pointer;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">DISCOVER
                MORE </a>
              <rs-layer id="slider-7-slide-20-layer-5" data-type="text" data-color="#222222" data-rsp_ch="on"
                data-xy="xo:200px,50px,50px,50px;yo:60px;" data-text="s:12;l:12;ls:1px;a:inherit;"
                data-frame_0="tp:600;" data-frame_1="tp:600;st:0;sp:500;"
                data-frame_999="o:0;tp:600;st:w;sp:500;sR:6500;" style="z-index:8;">WELCOME TO SUPRO </rs-layer>
              <rs-layer id="slider-7-slide-20-layer-6" data-type="text" data-color="#222222" data-rsp_ch="on"
                data-xy="x:r,r,l,l;xo:50px;y:t,t,b,b;yo:60px,60px,100px,100px;" data-text="s:16;l:16;a:inherit;"
                data-frame_0="tp:600;" data-frame_1="tp:600;st:0;sp:500;"
                data-frame_999="o:0;tp:600;st:w;sp:500;sR:6500;" style="z-index:9;font-style:italic;">01/03 </rs-layer>
              <rs-layer id="slider-7-slide-20-layer-7" data-type="text" data-color="#222222" data-rsp_ch="on"
                data-xy="xo:200px,50px,50px,50px;yo:490px,440px,440px,390px;" data-text="s:16;l:30;a:inherit;"
                data-frame_0="x:-50px;tp:600;" data-frame_1="tp:600;st:600;sp:500;sR:600;"
                data-frame_999="x:-50px;o:0;tp:600;st:w;sp:500;sR:5900;" style="z-index:10;">Casual line <br> Nylon mix
                fabric<br> Buttoned collar </rs-layer>
            </rs-slide>
            <rs-slide data-key="rs-21" data-title="Special Price"
              data-thumb="plugins/home-left-sidebar/assets/s6b-100x50.jpg" data-duration="7000"
              data-anim="ei:d;eo:d;s:800,500;r:,0;t:slotslide-vertical,boxfade;sl:d,d;" data-p1="Next SS Preview"> <img
                alt="" src="/page/plugins/home-left-sidebar/assets/s6b.jpg" data-bg="p:65% 50%;" class="rev-slidebg"
                data-no-retina>
              <rs-layer id="slider-7-slide-21-layer-1" data-type="text" data-color="#f68872" data-rsp_ch="on"
                data-xy="xo:200px,50px,50px,50px;yo:288px,238px,238px,188px;" data-text="s:14;l:14;ls:1px;a:inherit;"
                data-frame_0="x:-50px;tp:600;" data-frame_1="tp:600;e:Power4.easeInOut;st:200;sp:500;sR:200;"
                data-frame_999="x:-50px;o:0;tp:600;st:w;sp:500;sR:6300;" style="z-index:5;">SPECIAL PRICE </rs-layer>
              <rs-layer id="slider-7-slide-21-layer-2" data-type="text" data-color="#222222" data-rsp_ch="on"
                data-xy="xo:195px,45px,45px,45px;yo:315px,265px,265px,215px;" data-text="s:60;l:72;fw:700;a:inherit;"
                data-frame_0="x:-50px;tp:600;" data-frame_1="tp:600;st:400;sp:500;sR:400;"
                data-frame_999="x:-50px;o:0;tp:600;st:w;sp:500;sR:6100;" style="z-index:6;">Nylon Blend <br> Jacket
              </rs-layer> <a id="slider-7-slide-21-layer-3" class="rs-layer rev-btn"
                href="http://demo3.drfuri.com/supro/shop/" target="_self" data-type="button" data-color="#222222"
                data-xy="xo:200px,50px,50px,50px;yo:636px,586px,586px,536px;"
                data-text="s:12;l:12;ls:1px;fw:700;a:inherit;" data-rsp_bd="off" data-padding="b:5;"
                data-border="bos:solid;boc:#222222;bow:0px,0,2px,0;" data-frame_0="x:-50px;tp:600;"
                data-frame_1="tp:600;st:800;sp:500;sR:800;" data-frame_999="x:-50px;o:0;tp:600;st:w;sp:500;sR:5700;"
                data-frame_hover="c:#000;bgc:rgba(255,255,255,0);boc:#222;bor:0px,0px,0px,0px;bos:solid;bow:0,0,2px,0;oX:50;oY:50;sp:0;"
                style="z-index:7;background-color:rgba(0,0,0,0);cursor:pointer;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">DISCOVER
                MORE </a>
              <rs-layer id="slider-7-slide-21-layer-5" data-type="text" data-color="#222222" data-rsp_ch="on"
                data-xy="xo:200px,50px,50px,50px;yo:60px;" data-text="s:12;l:12;ls:1px;a:inherit;"
                data-frame_0="tp:600;" data-frame_1="tp:600;st:0;sp:500;"
                data-frame_999="o:0;tp:600;st:w;sp:500;sR:6500;" style="z-index:8;">WELCOME TO SUPRO </rs-layer>
              <rs-layer id="slider-7-slide-21-layer-6" data-type="text" data-color="#222222" data-rsp_ch="on"
                data-xy="x:r,r,l,l;xo:50px;y:t,t,b,b;yo:60px,60px,100px,100px;" data-text="s:16;l:16;a:inherit;"
                data-frame_0="tp:600;" data-frame_1="tp:600;st:0;sp:500;"
                data-frame_999="o:0;tp:600;st:w;sp:500;sR:6500;" style="z-index:9;font-style:italic;">02/03 </rs-layer>
              <rs-layer id="slider-7-slide-21-layer-7" data-type="text" data-color="#222222" data-rsp_ch="on"
                data-xy="xo:200px,50px,50px,50px;yo:490px,440px,440px,390px;" data-text="s:16;l:30;a:inherit;"
                data-frame_0="x:-50px;tp:600;" data-frame_1="tp:600;st:600;sp:500;sR:600;"
                data-frame_999="x:-50px;o:0;tp:600;st:w;sp:500;sR:5900;" style="z-index:10;">Casual line <br> Nylon mix
                fabric<br> Waterproof fabric </rs-layer>
            </rs-slide>
            <rs-slide data-key="rs-22" data-title="Trending"
              data-thumb="plugins/home-left-sidebar/assets/s6c-100x50.jpg" data-duration="7000"
              data-anim="ei:d;eo:d;s:500,800;r:,0;t:boxslide,slotslide-horizontal;sl:d,d;" data-p1="Next SS Preview">
              <img alt="" src="/page/plugins/home-left-sidebar/assets/s6c.jpg" class="rev-slidebg" data-no-retina>
              <rs-layer id="slider-7-slide-22-layer-1" data-type="text" data-color="#f68872" data-rsp_ch="on"
                data-xy="xo:200px,50px,50px,50px;yo:288px,238px,238px,188px;" data-text="s:14;l:14;ls:1px;a:inherit;"
                data-frame_0="x:-50px;tp:600;" data-frame_1="tp:600;e:Power4.easeInOut;st:200;sp:500;sR:200;"
                data-frame_999="x:-50px;o:0;tp:600;st:w;sp:500;sR:6300;" style="z-index:5;">TRENDING NOW </rs-layer>
              <rs-layer id="slider-7-slide-22-layer-2" data-type="text" data-color="#222222" data-rsp_ch="on"
                data-xy="xo:195px,45px,45px,45px;yo:315px,265px,265px,216px;" data-text="s:60;l:72;fw:700;a:inherit;"
                data-frame_0="x:-50px;tp:600;" data-frame_1="tp:600;st:400;sp:500;sR:400;"
                data-frame_999="x:-50px;o:0;tp:600;st:w;sp:500;sR:6100;" style="z-index:6;">Regular <br> Cotton Shirt
              </rs-layer> <a id="slider-7-slide-22-layer-3" class="rs-layer rev-btn"
                href="http://demo3.drfuri.com/supro/shop/" target="_self" data-type="button" data-color="#222222"
                data-xy="xo:200px,50px,50px,50px;yo:636px,586px,586px,538px;"
                data-text="s:12;l:12;ls:1px;fw:700;a:inherit;" data-rsp_bd="off" data-padding="b:5;"
                data-border="bos:solid;boc:#222222;bow:0px,0,2px,0;" data-frame_0="x:-50px;tp:600;"
                data-frame_1="tp:600;st:800;sp:500;sR:800;" data-frame_999="x:-50px;o:0;tp:600;st:w;sp:500;sR:5700;"
                data-frame_hover="c:#000;bgc:rgba(255,255,255,0);boc:#222;bor:0px,0px,0px,0px;bos:solid;bow:0,0,2px,0;oX:50;oY:50;sp:0;"
                style="z-index:7;background-color:rgba(0,0,0,0);cursor:pointer;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">DISCOVER
                MORE </a>
              <rs-layer id="slider-7-slide-22-layer-5" data-type="text" data-color="#222222" data-rsp_ch="on"
                data-xy="xo:200px,50px,50px,50px;yo:60px;" data-text="s:12;l:12;ls:1px;a:inherit;"
                data-frame_0="tp:600;" data-frame_1="tp:600;st:0;sp:500;"
                data-frame_999="o:0;tp:600;st:w;sp:500;sR:6500;" style="z-index:8;">WELCOME TO SUPRO </rs-layer>
              <rs-layer id="slider-7-slide-22-layer-6" data-type="text" data-color="#222222" data-rsp_ch="on"
                data-xy="x:r,r,l,l;xo:50px;y:t,t,b,b;yo:60px,60px,100px,100px;" data-text="s:16;l:16;a:inherit;"
                data-frame_0="tp:600;" data-frame_1="tp:600;st:0;sp:500;"
                data-frame_999="o:0;tp:600;st:w;sp:500;sR:6500;" style="z-index:9;font-style:italic;">03/03 </rs-layer>
              <rs-layer id="slider-7-slide-22-layer-7" data-type="text" data-color="#222222" data-rsp_ch="on"
                data-xy="xo:200px,50px,50px,50px;yo:490px,440px,440px,390px;" data-text="s:16;l:30;a:inherit;"
                data-frame_0="x:-50px;tp:600;" data-frame_1="tp:600;st:600;sp:500;sR:600;"
                data-frame_999="x:-50px;o:0;tp:600;st:w;sp:500;sR:5900;" style="z-index:10;">Casual line <br> Nylon mix
                fabric<br> Waterproof fabric </rs-layer>
            </rs-slide>
          </rs-slides>
          <rs-progress class="rs-bottom" style="visibility: hidden !important;"></rs-progress>
        </rs-module>
      </rs-module-wrap>
      <div class="ps-site-features">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
              <div class="ps-block--box-icon"><i class="icon-location"></i>
                <figure>
                  <figcaption>Free Shipping</figcaption>
                  <p>Orders over $100</p>
                </figure>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
              <div class="ps-block--box-icon"><i class="icon-refresh"></i>
                <figure>
                  <figcaption>Free Return</figcaption>
                  <p>Withthin 30 Days</p>
                </figure>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
              <div class="ps-block--box-icon"><i class="icon-lock"></i>
                <figure>
                  <figcaption>100% SECURE</figcaption>
                  <p>Online Shopping</p>
                </figure>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
              <div class="ps-block--box-icon"><i class="icon-tag"></i>
                <figure>
                  <figcaption>Best Price</figcaption>
                  <p>Guaranteed</p>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ps-home-intro-2">
        <div class="container">
          <div class="ps-section__left"><a href="#"><img src="/page/img/homepage/home-left-sidebar/home-intro.jpg"
                alt=""></a></div>
          <div class="ps-section__right">
            <h3 style="left: 0;">Supro is the modern <br> luxury shopping destination</h3>
            <p>Using technology to inspire and innovate, we aim to make shopping seamless – whether online or in store.
          </div>
        </div>
      </div>
      <div class="ps-home-collection">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
              <div class="ps-section__header">
                <h3>2021 Collections</h3>
                <p>Browse the huge variety of our products</p>
              </div>
              <div class="ps-block--collection"><a class="ps-block__overlay bg--top-left" href="#"
                  data-background="/page/img/homepage/home-left-sidebar/collection-1.jpg"></a>
                <p>Outerwear <br> For Winter</p>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
              <div class="ps-block--collection wide"><a class="ps-block__overlay bg--top-left" href="#"
                  data-background="/page/img/homepage/home-left-sidebar/collection-2.jpg"></a>
                <p>Super Essential <br> Cotton T-Shirt</p>
              </div>
              <div class="ps-block--collection"><a class="ps-block__overlay bg--top-left" href="#"
                  data-background="/page/img/homepage/home-left-sidebar/collection-3.jpg"></a>
                <p>Shoes & <br /> Accessories</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ps-home-slogan">
        <div class="container">
          <h4>“Supro recognises individuality. We make fashion accessible and fun.”</h4>
        </div>
      </div>
      <div class="ps-section ps-home-product">
        <div class="container">
          <div class="ps-section__header">
            <figure>
              <figcaption>New Arrival</figcaption>
              <p>Browse the huge variety of our products</p>
            </figure>
          </div>
          <div class="ps-section__content">
            <div class="row">
              <%- body %>
            </div>
          </div>
        </div>
      </div>
      <div class="ps-section--partners">
        <div class="container">
          <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="100000" data-owl-gap="30"
            data-owl-nav="false" data-owl-dots="false" data-owl-item="6" data-owl-item-xs="3" data-owl-item-sm="3"
            data-owl-item-md="4" data-owl-item-lg="5" data-owl-duration="1000" data-owl-mousedrag="off"><a href="#"><img
                src="/page/img/partners/1.png" alt=""></a><a href="#"><img src="/page/img/partners/2.png" alt=""></a><a
              href="#"><img src="/page/img/partners/3.png" alt=""></a><a href="#"><img src="/page/img/partners/4.png"
                alt=""></a><a href="#"><img src="/page/img/partners/5.png" alt=""></a><a href="#"><img
                src="/page/img/partners/6.png" alt=""></a></div>
        </div>
      </div>
      <div class="ps-section--instagram">
        <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="0"
          data-owl-nav="false" data-owl-dots="false" data-owl-item="7" data-owl-item-xs="3" data-owl-item-sm="4"
          data-owl-item-md="5" data-owl-item-lg="6" data-owl-duration="1000" data-owl-mousedrag="off">
          <div class="ps-block--instagram"><img src="/page/img/instagram/1.jpg" alt=""><a href="#"><i
                class="fa fa-instagram"></i></a></div>
          <div class="ps-block--instagram"><img src="/page/img/instagram/2.jpg" alt=""><a href="#"><i
                class="fa fa-instagram"></i></a></div>
          <div class="ps-block--instagram"><img src="/page/img/instagram/3.jpg" alt=""><a href="#"><i
                class="fa fa-instagram"></i></a></div>
          <div class="ps-block--instagram"><img src="/page/img/instagram/4.jpg" alt=""><a href="#"><i
                class="fa fa-instagram"></i></a></div>
          <div class="ps-block--instagram"><img src="/page/img/instagram/5.jpg" alt=""><a href="#"><i
                class="fa fa-instagram"></i></a></div>
          <div class="ps-block--instagram"><img src="/page/img/instagram/6.jpg" alt=""><a href="#"><i
                class="fa fa-instagram"></i></a></div>
          <div class="ps-block--instagram"><img src="/page/img/instagram/7.jpg" alt=""><a href="#"><i
                class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <footer class="ps-footer--boxed">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
              <div class="ps-site-info"><a class="ps-logo" href="/"><img src="/page/img/logo-white.png" alt=""></a>
                <div class="row">
                  <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <figure>
                      <figcaption>Our Location:</figcaption>
                      <p>869 General Village Apt. 645, Moorebury</p>
                    </figure>
                  </div>
                  <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <figure>
                      <figcaption>24/7 hotline:</figcaption>
                      <p>(+99) 052 128 2399</p>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
              <div class="ps-footer__right">
                <ul class="ps-footer__nav">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Shop</a></li>
                  <li><a href="#">Collection</a></li>
                  <li><a href="#">Pages</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
                <ul class="ps-list--social">
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div id="back2top"><i class="pe-7s-angle-up"></i></div>
  <div class="ps-site-overlay"></div>
  <div id="loader-wrapper">
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <div class="ps-search" id="site-search"><a class="ps-btn--close" href="#"></a>
    <div class="ps-search__content">
      <form class="ps-form--primary-search" action="https://nouthemes.net/html/supro/do_action" method="post">
        <input class="form-control" type="text" placeholder="Search for...">
        <button><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <!-- Plugins-->
  <script data-cfasync="false"
    src="/page/../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="/page/plugins/jquery-1.12.4.min.js"></script>
  <script src="/page/plugins/owl-carousel/owl.carousel.min.js"></script>
  <script src="/page/plugins/bootstrap4/js/bootstrap.min.js"></script>
  <script src="/page/plugins/imagesloaded.pkgd.js"></script>
  <script src="/page/plugins/masonry.pkgd.min.js"></script>
  <script src="/page/plugins/jquery.matchHeight-min.js"></script>
  <script src="/page/plugins/slick/slick/slick.min.js"></script>
  <script src="/page/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
  <script src="/page/plugins/lightGallery-master/dist/js/lightgallery-all.min.js"></script>
  <script src="/page/plugins/jquery-ui/jquery-ui.min.js"></script>
  <script src="/page/plugins/sticky-sidebar/dist/sticky-sidebar.min.js"></script>
  <script src="/page/plugins/select2/dist/js/select2.full.min.js"></script>
  <script type="text/javascript" src="/page/plugins/home-full-slider/js/revolution.tools.min.js"></script>
  <script type="text/javascript" src="/page/plugins/home-full-slider/js/rs6.min.js"></script>
  <script type="text/javascript" src="/page/js/home-left-sidebar.js"></script>
  <script src="/page/js/notify.min.js"></script>
  <script src="/page/js/main.js"></script>
  <script src="/page/js/helper.js"></script>
  <script src="/page/js/app.js"></script>

</body>

<!-- Mirrored from nouthemes.net/html/supro/homepage-left-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Apr 2021 12:27:06 GMT -->

</html>